* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #03acd3;
}

.container {
    width: 85vw;
    margin: auto;
}

@media (max-width: 1200px) {
    .container {
        width: 95vw;
    }
}